<div class="uk-grid">
  <div class="uk-grid-2-3">
    <h1>Screenplays</h1>
  </div>
  <div class="uk-grid-1-3">
    <%= button_to "New Screenplay", screenplays_path %>
  </div>
</div>
<div>
  <table>
    <thead>
      <td>Name</td>
      <td>Actions</td>
    </thead>
  <% screenplays.each do |screenplay| %>
    <tr class="screenplay">
      <td>
        <%= link_to(
          "#{screenplay.id} - #{screenplay.title}",
          screenplay_workspace_path(screenplay)
        ) %>
      </td>
      <td>
        <%= link_to screenplay_path(screenplay),
          title: "Delete screenplay",
          method: :delete,
          class: "delete-screenplay",
          data: { confirm: "Are you sure you want to delete #{screenplay.title}?" } do %>
          <i class="uk-icon-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</div>
