<div class="uk-grid">
  <div class="uk-grid-2-3">
    <h1>Documents</h1>
  </div>
  <div class="uk-grid-1-3">
    <%= link_to "New Script", new_document_path %>
  </div>
</div>
<div>
  <table>
    <thead>
      <td>Name</td>
      <td>Actions</td>
    </thead>
  <% documents.each do |document| %>
    <tr>
      <td><%= link_to "#{document.id} - #{document.title}", document_path(document) %></td>
      <td><%= link_to "X", document_path(document), method: :delete %></td>
    </tr>
  <% end %>
</div>
