.control-panel {
  border-right: 3px solid $charcoal;
  height: 7%;

  a, span {
    display: block;
    font-size: 30px;
    padding-top: 10px;
  }

  i {
    color: $white;
  }

  i.error {
    color: $danger-color;
  }

  i.saved {
    color: $success-color;
  }

  i.saving {
    color: $warning-color;
  }
}

.screenplay-title {
  border-right: 3px solid $charcoal;
  height: 6%;
  position: relative;

  input {
    background: inherit;
    border: none;
    bottom: 5px;
    color: $white;
    box-shadow: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 1%;
    outline: none;
    position: absolute;
    resize: none;
    width: 95%;
  }
}

.sidebar {
  background: $charcoal;
  width: 22%;
}

.section-list {
  background: $white;
  border-right: 3px solid $charcoal;
  border-top: 1px solid $charcoal;
  height: 86%;
  overflow: scroll;
}

.section-list-item {
  border-bottom: 1px solid lightgrey;
  color: $black;
  display: block;
  height: 30px;
  padding: 5%;
  text-decoration: none !important;
  vertical-align: text-bottom;

  &.active {
    background: $active-orange;
  }

  &:hover {
   text-decoration: none;
   color: $black;
  }
}
